.header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(119, 37, 37);
    color: white;
}

.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: black;
    border-radius: 10px;
}


/* 
.header__cart{
    
} */