.summary-card {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #838181;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 37%;
    left: 16%;
}

.summary-card h2 {
    margin-top: 0;
}

.summary-card p {
    margin-bottom: 10px;
}